@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: green;
}

.card {
  box-shadow: 2px 2px 10px black;
  width: 200px;
  height: 300px;
}

h1 {
  font-family: "Domine", serif;
  font-size: 100px;
  color:black
}

.spade {
  color: black;
}

.club {
  color: black;
}

.heart {
  color: red;
}

.diamond {
  color: red;
}



